#hero {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: 2fr 3fr 2fr;
  height: 100vh;
  min-height: 500px;
  background-image: url('/public/images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

#hero #heroContainer {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#hero #nameTitle {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0;
  font-size: 56pt;
}

#hero #jobRole {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0;
  font-size: 28pt;
  padding-top: 10px;
}

#hero #heroBtnContainer {
  justify-content: center;
  align-items: center;
  display: grid;
  align-content: center;
  padding-top: 20px;
}

#heroBtnContainer #heroBtn {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background: #615c7a;
  border-radius: 6px;
  border-width: 0;
  font-size: 12pt;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  height: 44px;
  margin: 12px 0 0;
  padding: 0 25px;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


@media (max-width: 700px) {
  #hero #nameTitle {
    font-size: 36pt;
  }

  #hero #jobRole {
    font-size: 22pt;
  }
}