#skills {
  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  padding: 75px 0;
}

#skills #skillsTitle {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0;
  font-size: 28pt;
  padding-bottom: 75px;
}

#skills #skillsContainer {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#skillsContainer #html {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#html #htmlImg {
  width: 45%;
  min-width: 70px;
}

#skillsContainer #css {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#css #cssImg {
  width: 45%;
  min-width: 70px;
}

#skillsContainer #js {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#js #jsImg {
  width: 45%;
  min-width: 70px;
}

#skillsContainer #bootstrap {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#bootstrap #bootstrapImg {
  width: 45%;
  min-width: 70px;
}

#skillsContainer #java {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#java #javaImg {
  width: 45%;
  min-width: 70px;
}

#skillsContainer #git {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#git #gitImg {
  width: 45%;
  min-width: 70px;
}

#skillsContainer #visual {
  display: grid;
  justify-items: center;
  width: 12%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 0.75rem;
  border-radius: 5px;
}

#visual #visualImg {
  width: 45%;
  min-width: 70px;
}

#visual #visualText {
  text-align: center;
}

@media (max-width: 1050px) {
  #skillsContainer #html {
    width: 15%;
  }

  #skillsContainer #css {
    width: 15%;
  }

  #skillsContainer #js {
    width: 15%;
  }

  #skillsContainer #bootstrap {
    width: 15%;
  }

  #skillsContainer #java {
    width: 15%;
  }

  #skillsContainer #git {
    width: 15%;
  }

  #skillsContainer #visual {
    width: 15%;
  }
}

@media (max-width: 800px) {
  #skillsContainer #html {
    width: 19%;
  }

  #skillsContainer #css {
    width: 19%;
  }

  #skillsContainer #js {
    width: 19%;
  }

  #skillsContainer #bootstrap {
    width: 19%;
  }

  #skillsContainer #java {
    width: 19%;
  }

  #skillsContainer #git {
    width: 19%;
  }

  #skillsContainer #visual {
    width: 19%;
  }
}

 @media (max-width: 600px) {
  #skillsContainer #html {
    width: 23%;
  }

  #skillsContainer #css {
    width: 23%;
  }

  #skillsContainer #js {
    width: 23%;
  }

  #skillsContainer #bootstrap {
    width: 23%;
  }

  #skillsContainer #java {
    width: 23%;
  }

  #skillsContainer #git {
    width: 23%;
  }

  #skillsContainer #visual {
    width: 23%;
  }
} 

@media (max-width: 500px) {
  #skillsContainer #html {
    width: 31%;
  }

  #skillsContainer #css {
    width: 31%;
  }

  #skillsContainer #js {
    width: 31%;
  }

  #skillsContainer #bootstrap {
    width: 31%;
  }

  #skillsContainer #java {
    width: 31%;
  }

  #skillsContainer #git {
    width: 31%;
  }

  #skillsContainer #visual {
    width: 31%;
  }
}

@media (max-width: 300px) {
  #skillsContainer #html {
    width: 45%;
  }

  #skillsContainer #css {
    width: 45%;
  }

  #skillsContainer #js {
    width: 45%;
  }

  #skillsContainer #bootstrap {
    width: 45%;
  }

  #skillsContainer #java {
    width: 45%;
  }

  #skillsContainer #git {
    width: 45%;
  }

  #skillsContainer #visual {
    width: 45%;
  }
}

